/* Base styles for mobile */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: none; /* Hide menu items initially */
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

nav button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
    text-align: center; /* Center the content */
    font-size: 1.2em; /* Increase the size of the content */
}

figure {
    margin: 10px;
    text-align: center;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#gallery img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

/* Show navigation when active */
nav ul.active {
    display: block;
}
