/* This file overrides the mobile-first styles for larger screens */
@media (min-width: 768px) {
    body {
        font-family: 'Arial', sans-serif;
    }

    header {
        text-align: center;
    }

    nav ul {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    ul li {
        margin: 0 20px;
    }

    #gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 columns in larger view */
    }
}
